@font-face {
  font-family: 'LxgwWenKai';
  src: url('/fonts/LXGWWenKai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LxgwWenKai';
  src: url('/fonts/LXGWWenKai-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LxgwWenKai';
  src: url('/fonts/LXGWWenKai-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LxgwWenKaiMono';
  src: url('/fonts/LXGWWenKaiMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LxgwWenKaiMono';
  src: url('/fonts/LXGWWenKaiMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LxgwWenKaiMono';
  src: url('/fonts/LXGWWenKaiMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'LxgwWenKai', sans-serif;
}
