<section>
  <h2>Comments</h2>
  <div id="comments-utteranc"></div>
</section>

<script type="text/javascript">

function getCurrentTheme() {
  return document.documentElement.getAttribute('data-theme') || document.body.classList.contains('dark') ? 'dark' : 'light';
}

function loadUtterances(darkMode=false) {
  const commentContainer = document.getElementById("comments-utteranc");
  if (commentContainer !== null) {
    commentContainer.innerHTML = ''
    const commentScript = document.createElement("script");
    commentScript.setAttribute("id", "utteranc");
    commentScript.setAttribute("src", "https://utteranc.es/client.js");
    commentScript.setAttribute("data-repo", "ramsayleung/comment");
    commentScript.setAttribute("data-category", "Announcements");
    commentScript.setAttribute("data-mapping", "pathname");
    commentScript.setAttribute("data-reactions-enabled", "1");
    commentScript.setAttribute("data-emit-metadata", "0");
    commentScript.setAttribute("data-theme", darkMode ? "github-dark" : "github-light");
    commentScript.setAttribute("data-issue-term", "title");
    commentScript.setAttribute("crossorigin", "anonymous");
    commentScript.setAttribute("async", "true");
    commentContainer.appendChild(commentScript);
  }
}

const isDarkMode = getCurrentTheme() === 'dark';
loadUtterances(isDarkMode);

// Watch for theme changes
const themeObserver = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
        if (mutation.type === 'attributes' && mutation.attributeName === 'class') {
          const isDarkMode = getCurrentTheme() === 'dark';
          loadUtterances(isDarkMode);
          console.log(`changing theme`);
        }
    });
});

// Start observing the body element for class changes
themeObserver.observe(document.body, { 
    attributes: true, 
    attributeFilter: ['class'] 
});

</script>
